In [4]:
import pandas as pd

In [8]:
df = pd.read_csv('assets/vgsales.csv')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [11]:
#Which company is the most common video game publisher?
most_common = df['Publisher'].value_counts()
most_common.head(1)

Electronic Arts    1351
Name: Publisher, dtype: int64

In [12]:
#What’s the most common platform?
most_common = df['Platform'].value_counts()
most_common.head(1)

DS    2163
Name: Platform, dtype: int64

In [16]:
#What about the most common genre?
most_common = df['Genre'].value_counts()
most_common.head(1)

Action    3316
Name: Genre, dtype: int64

In [19]:
#What are the top 20 highest grossing games?
most_common = df[['Name', 'Global_Sales']].sort_values('Global_Sales', ascending=False)
most_common.head(20)

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

In [21]:
#For North American video game sales, what’s the median?
America_median = df['NA_Sales'].median()
print (America_median)

0.08

In [30]:
#Provide a secondary output showing ten games surrounding the median sales output,assume that games with same median value are sorted in descending order
med_NA = df[df['NA_Sales'] == America_median]

med_NA[['Name', 'NA_Sales']].head(10)

                                                   Name  NA_Sales
446                                   Dragon Warrior IV      0.08
497         World Soccer Winning Eleven 7 International      0.08
1617                             Farming Simulator 2015      0.08
1926                          Pro Evolution Soccer 2008      0.08
2067  Winning Eleven: Pro Evolution Soccer 2007 (All...      0.08
2373                           Phantasy Star Portable 2      0.08
2579                               The Sims 2: Castaway      0.08
3186                                     SingStar Queen      0.08
3503                                         Top Spin 3      0.08
3703               Sonic & All-Stars Racing Transformed      0.08

In [54]:
#For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?
NA_top_selling = df[['Name', 'NA_Sales', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
NA_top_selling

         Name  NA_Sales  Global_Sales
0  Wii Sports     41.49         82.74

In [55]:
#Standard deviation 

NA_standard_deviation = df['NA_Sales'].std()
a = [NA_standard_deviation]
column = pd.DataFrame(a, columns=['North American Standard Deviation'])
column

   North American Standard Deviation
0                           0.816683

In [58]:
# Standard deviation above mean
NA_standard_deviation_above_mean = (41.49 - America_median) / NA_standard_deviation
a = [NA_standard_deviation_above_mean]
column = pd.DataFrame(a, columns=['Standard Deviation Above Mean'])
column

   Standard Deviation Above Mean
0                      50.705107

In [60]:
# Wii Global Sales
wii_platform_global_sales = df[df['Platform'] == 'Wii']['Global_Sales'].mean()
a = [wii_platform_global_sales]
column = pd.DataFrame(a, columns=['Wii Global Sales'])
column

   Wii Global Sales
0          0.699404

In [61]:
# Global Sale for All other Platform not including Wii

all_platforms_global_sales = df[df['Platform'] != 'Wii']['Global_Sales'].mean()
a = [all_platforms_global_sales]
column = pd.DataFrame(a, columns=['All Platforms Global Sales'])
column

   All Platforms Global Sales
0                     0.52339

In [62]:
# Comparing Global Sales Wii vs All other Platforms

global_sales_wii_vs_other_platforms = wii_platform_global_sales - all_platforms_global_sales
a = [global_sales_wii_vs_other_platforms]
column = pd.DataFrame(a, columns=['Wii vs All Platforms Global Sales'])
column

   Wii vs All Platforms Global Sales
0                           0.176014

In [64]:
# Games realeased in 1991 with Sales data

pd.set_option('display.max_rows', 30)
df
name_year = df[['Name', 'Year', 'Global_Sales']]
name_year
year_91 = name_year[(name_year['Year'] == 1991.0) & (name_year['Name'])].sort_values('Year', ascending=1)
year_91

                                                    Name    Year  Global_Sales
231              The Legend of Zelda: A Link to the Past  1991.0          4.61
5541         Kidou Senshi Gundam F91: Formula Senki 0122  1991.0          0.33
5651                                 Tetris 2 + Bombliss  1991.0          0.32
6053   SD Gundam Gaiden: Knight Gundam Monogatari: Oo...  1991.0          0.29
6155                        Mega Man: Dr. Wily's Revenge  1991.0          0.28
...                                                  ...     ...           ...
4097                    The Legend of the Mystical Ninja  1991.0          0.48
4451                                        Bomberman II  1991.0          0.44
4583                                   Super Wagyan Land  1991.0          0.42
4981                                        Super Soccer  1991.0          0.38
13018                                             Lagoon  1991.0          0.05

[41 rows x 3 columns]

In [68]:
# Top grossing game of 1991
top_grossing_game_of_1991 = year_91[['Name', 'Year', 'Global_Sales']].sort_values('Global_Sales', ascending=False).head(1)
top_grossing_game_of_1991

                                        Name    Year  Global_Sales
231  The Legend of Zelda: A Link to the Past  1991.0          4.61

In [73]:
# extracted Global Sales
gross = top_grossing_game_of_1991['Global_Sales'].mean()
gross

4.61